<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Formulário de Cadastro de Usuário</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Cadastrar Usuário</h1>
    <form action="#" th:action="@{/usuario/cadastrar}" th:object="${usuario}" method="post">
        <p>Id: <input type="number" th:field="*{id}" readonly /></p>
        <p>Email: <input type="text" th:field="*{email}" /></p>
		<p>Senha: <input type="text" th:field="*{senha}" /></p>
		<p>User: <input type="text" th:field="*{role}" /></p>		
        <p><input type="submit" value="Cadastrar" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>